/_ReSharper.Sharpcraft
/Sharpcraft.Content/bin
/Sharpcraft.Content/obj
/Sharpcraft.Forms/bin
/Sharpcraft.Forms/obj
/Sharpcraft.Logging/bin
/Sharpcraft.Logging/obj
/Sharpcraft.Networking/bin
/Sharpcraft.Networking/obj
/Sharpcraft.Steam/bin
/Sharpcraft.Steam/obj
/Sharpcraft.SteamGUI/bin
/Sharpcraft.SteamGUI/obj
/Sharpcraft/bin
/Sharpcraft/obj

*.suo
*.user