/_ReSharper.Sharpcraft
*.suo
*.user
/Sharpcraft/bin
/Sharpcraft/obj
/Sharpcraft.Steam/bin
/Sharpcraft.Steam/obj
/Sharpcraft.Forms/bin
/Sharpcraft.Forms/obj
/Sharpcraft.Content/bin
/Sharpcraft.Content/obj
/Sharpcraft.Logging/bin
/Sharpcraft.Logging/obj
/Sharpcraft.Website/bin
/Sharpcraft.Website/obj
/Sharpcraft.Networking/obj
/Sharpcraft.Networking/bin
/Sharpcraft.Documentation/obj
/Sharpcraft.Documentation/working
/Sharpcraft.Website/Sharpcraft.Website.Publish.xml

/docs
/boilerplate_custom
/html5_boilerplate
/packages
/web_publish
/boilerplate-initializr-2.1.zip
/custom-initializr-2.1.zip
